  body {
    display: flex;
    min-height: 100vh;
    background-color: #F5F5F5;
  }
  
  main {
    width: 100%;
    flex: 1 0 auto;
  }

  .img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .imgClimas {
    width: 300px;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .justify-align{
    text-align: justify;
  }

  

  .input-wrapper{
    background-color: #ffffff;
    border-radius: 1px;
    width: 20rem;
    height: 3rem;
    padding: 0.1em 6px;
    box-shadow: 0px 0px 8px #ffffff;
    align-items: center;
  }
